.hContainer{
    background-color: azure;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.linkBox{
    border: 1px solid rgb(30, 30, 221);
    border-radius: 10px;
    margin-right: 30px;
    padding: 10px;
    background-color:rgb(124, 145, 173);
}

.linkBox:hover{
    background-color: royalblue;
}